@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=JetBrains+Mono:wght@900&family=Orbitron&family=Cutive+Mono&family=Courier+Prime&display=swap');

:root {
  --topbar-height: 52px;
  --sidebar-width: 220px;
  --sidebar-collapsed-width: 64px;
  --bg-color: #fdfdfd;
  --hover-bg: #f0f0f0;
  --border-color: #ddd;
  --text-color: #222;
  --icon-muted: #000000;
  --font-family: 'Fira Code';
  --font-weight: bolder;
  color-scheme: light;

  --accent-color:   #ff3c00; /* Vibrant Red-Orange */
  --accent-color1:  #ff6b00; /* Bright Orange */
  --accent-color2:  #ffa500; /* Amber */
  --accent-color3:  #ffc107; /* Golden Yellow */
  --accent-color4:  #4caf50; /* Leafy Green */
  --accent-color5:  #00bcd4; /* Cyan */
  --accent-color6:  #2196f3; /* Blue */
  --accent-color7:  #3f51b5; /* Indigo */
  --accent-color8:  #9c27b0; /* Purple */
  --accent-color9:  #e91e63; /* Pink */
  --accent-color10: #00ca00; /* Earthy Brown */
}


@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

[data-theme='dark'] {
  --bg-color: #0d0d0f;
  --hover-bg: #1a1a2e;
  --border-color: #1e1e1e;
  --text-color: #e0e0e0;
  --icon-muted: #888;

}

[data-theme='light'] body {
  --bg-color: #fdf5e6;
  --hover-bg: #ffd37c;
  --border-color: #c9ae14;
  --icon-muted: #000000;
  --text-color: #000000;
  --hamburger-color: #000000;
  animation: gradientShift 15s ease infinite;
  --accent-color1:  #ff6b00;
  --accent-color8:  #9c27b0; 
  --accent-color10: #00dd00;
  --accent-color6:  #2196f3; 
  --accent-color:   #ff3c00; 
}

[data-theme='dark'] body {
  --bg-color:  #1a1a1a;
  --hover-bg: #555555;
  --border-color: #ffffff77;
  --icon-muted: #ffffffa6;
  --hamburger-color: #ffffff;
  --text-color: #ffffff;
  animation: gradientShift 15s ease infinite;

  --accent-color1:  #ff6b00;
  --accent-color8:  #fce307; 
  --accent-color10: #00dd00;
  --accent-color6:  #5bb5ff; 
  --accent-color:   #ff3c00; 

}

[data-theme='forest'] body {
  background: #0f3d2e; 
  --bg-color: #0f3d2e;
  --hover-bg: #1e5e40; 
  --icon-muted: #ffffff;
  --text-color: #ffffff;
  --hamburger-color: #ff3333;
  --border-color: #63887c;
  animation: gradientShift 15s ease infinite;

  --accent-color1:  #ff6b00;
  --accent-color8:  #fce307; 
  --accent-color10: #00dd00;
  --accent-color6:  #79c3ff; 
  --accent-color:   #ff0000;

}

[data-theme='vampire'] body {
  background: #740202;
  --bg-color: #740202;
  --hover-bg: #ffffff;
  --icon-muted: #ffffff;
  --text-color: #ffffff;
  --hamburger-color: #ffffff;
  --border-color: #d34e4e;


  --primary-text: #ff4d4d;
  --accent-color: #8b0000;
  --secondary-bg: #2e0000;
  --hover-bg: #3d0000;
}


[data-theme='light'] p,
[data-theme='light'] li {
  color: #111111;
}

[data-theme='dark'] p,
[data-theme='dark'] li {
  color: #ffffff;
}

[data-theme='forest'] p,
[data-theme='forest'] li {
  color: #ffffff;
}


body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight);
  transition: background-color 0.3s ease, color 0.3s ease;
  min-height: 100vh;
}
